<a href="https://colab.research.google.com/github/karabomaboka/Data-Science-Projects/blob/master/Income_Qualification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from collections import Counter

import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving test.csv to test.csv
Saving train.csv to train.csv
User uploaded file "test.csv" with length 8031938 bytes
User uploaded file "train.csv" with length 3237288 bytes

In [0]:
test=pd.read_csv('test.csv')
train=pd.read_csv('train.csv')

In [4]:
train.head()

             Id      v2a1  hacdor  ...  SQBmeaned  agesq  Target
0  ID_279628684  190000.0       0  ...      100.0   1849       4
1  ID_f29eb3ddd  135000.0       0  ...      144.0   4489       4
2  ID_68de51c94       NaN       0  ...      121.0   8464       4
3  ID_d671db89c  180000.0       0  ...      121.0    289       4
4  ID_d56d6f5f5  180000.0       0  ...      121.0   1369       4

[5 rows x 143 columns]

In [5]:
test.head()

             Id      v2a1  hacdor  ...  SQBdependency  SQBmeaned  agesq
0  ID_2f6873615       NaN       0  ...           0.25     272.25     16
1  ID_1c78846d2       NaN       0  ...           0.25     272.25   1681
2  ID_e5442cf6a       NaN       0  ...           0.25     272.25   1681
3  ID_a8db26a79       NaN       0  ...           0.00     256.00   3481
4  ID_a62966799  175000.0       0  ...          64.00        NaN    324

[5 rows x 142 columns]

In [0]:
test['Target'] = np.nan 
data = train.append(test, ignore_index = True)

In [0]:
# Heads of household
 heads = data.loc[data['parentesco1'] == 1].copy()
# Labels for training
 train_labels = data.loc[(data['Target'].notnull()) & (data['parentesco1'] == 1), ['Target', 'idhogar']]
# Value counts of target
 label_counts = train_labels['Target'].value_counts().sort_index()

In [18]:
unique_values = train.groupby('idhogar')['Target'].apply(lambda x: x.nunique() == 1)
different_households = unique_values[unique_values != True] 
print('There are {} households where the family members do not all have the same target.'.format(len(different_households)))

There are 85 households where the family members do not all have the same target.

In [19]:
check_leader = train.groupby('idhogar')['parentesco1'].sum()
#Check for head 
no_head = train.loc[train['idhogar'].isin(check_leader[check_leader == 0].index), :]
print('There are {} households without a head.'.format(no_head['idhogar'].nunique()))

There are 15 households without a head.

In [21]:
no_head_equal = no_head.groupby('idhogar')['Target'].apply(lambda x: x.nunique() == 1)
print('{} Households with no head have different labels.'.format(sum(no_head_equal == False)))

0 Households with no head have different labels.

In [25]:
for each_household in different_households.index:
#find the correct label 
 true_target = int(train[(train['idhogar'] == each_household) & (train['parentesco1'] == 1.0)]['Target'] )        
#assign the correct label for each member   
train.loc[train['idhogar'] == each_household, 'Target'] = true_target 
unique_values = train.groupby('idhogar')['Target'].apply(lambda x: x.nunique() == 1)
different_households = unique_values[unique_values != True] 
print('There are {} households where the family members do not all have the same target.'.format(len(different_households)))

There are 84 households where the family members do not all have the same target.

In [27]:
missing_variables = pd.DataFrame(data.isnull().sum()).rename(columns = {0: 'total'})
missing_variables['percent'] = missing_variables['total']/len(data) 
missing_variables.sort_values('percent', ascending = False).head(10).drop('Target')

              total   percent
rez_esc       27581  0.825457
v18q1         25468  0.762218
v2a1          24263  0.726154
SQBmeaned        36  0.001077
meaneduc         36  0.001077
hogar_adul        0  0.000000
parentesco10      0  0.000000
parentesco11      0  0.000000
parentesco12      0  0.000000

In [29]:
heads.groupby('v18q')['v18q1'].apply(lambda x: x.isnull().sum())

v18q
0    8044
1       0
Name: v18q1, dtype: int64

In [0]:
data['v18q1'] = data['v18q1'].fillna(0)

In [32]:
# Fill in households that own the house with 0 rent payment 
data.loc[(data['tipovivi1'] == 1), 'v2a1'] = 0
# Create missing rent paymentcolumn 
data['v2a1-missing'] = data['v2a1'].isnull()
data['v2a1-missing'].value_counts()

False    29994
True      3419
Name: v2a1-missing, dtype: int64

In [33]:
data.loc[data['rez_esc'].notnull()]['age'].describe()

count    5832.000000
mean       12.185700
std         3.198618
min         7.000000
25%         9.000000
50%        12.000000
75%        15.000000
max        17.000000
Name: age, dtype: float64

In [0]:
# If individual is over 19 or younger than 7 and missing years behind, set it to 0
data.loc[((data['age'] > 19) | (data['age'] < 7)) & (data['rez_esc'].isnull()), 'rez_esc'] = 0
# Add a flag for those between 7 and 19 with a missing value 
data['rez_esc-missing'] = data['rez_esc'].isnull()
#Setting the maximum value to 5 
data.loc[data['rez_esc'] > 5, 'rez_esc'] = 5

In [0]:
id_ = ['Id', 'idhogar', 'Target']

In [0]:
ind_bool = ['v18q', 'dis', 'male', 'female', 'estadocivil1', 'estadocivil2', 'estadocivil3',
            'estadocivil4', 'estadocivil5', 'estadocivil6', 'estadocivil7',
            'parentesco1', 'parentesco2',  'parentesco3', 'parentesco4', 'parentesco5',
            'parentesco6', 'parentesco7', 'parentesco8',  'parentesco9', 'parentesco10',
            'parentesco11', 'parentesco12', 'instlevel1', 'instlevel2', 'instlevel3',
            'instlevel4', 'instlevel5', 'instlevel6', 'instlevel7', 'instlevel8',
            'instlevel9', 'mobilephone', 'rez_esc-missing']
            
ind_ordered = ['rez_esc', 'escolari', 'age']

In [0]:
hh_bool = ['hacdor', 'hacapo', 'v14a', 'refrig', 'paredblolad', 'paredzocalo',
           'paredpreb','pisocemento', 'pareddes', 'paredmad',
           'paredzinc', 'paredfibras', 'paredother', 'pisomoscer', 'pisoother',
           'pisonatur', 'pisonotiene', 'pisomadera',
           'techozinc', 'techoentrepiso', 'techocane', 'techootro', 'cielorazo',
           'abastaguadentro', 'abastaguafuera', 'abastaguano',
           'public', 'planpri', 'noelec', 'coopele', 'sanitario1',
           'sanitario2', 'sanitario3', 'sanitario5',   'sanitario6',
           'energcocinar1', 'energcocinar2', 'energcocinar3', 'energcocinar4',
           'elimbasu1', 'elimbasu2', 'elimbasu3', 'elimbasu4',
           'elimbasu5', 'elimbasu6', 'epared1', 'epared2', 'epared3',
           'etecho1', 'etecho2', 'etecho3', 'eviv1', 'eviv2', 'eviv3',
           'tipovivi1', 'tipovivi2', 'tipovivi3', 'tipovivi4', 'tipovivi5',
           'computer', 'television', 'lugar1', 'lugar2', 'lugar3', 
           'lugar4', 'lugar5', 'lugar6', 'area1', 'area2', 'v2a1-missing'] 

hh_ordered = [ 'rooms', 'r4h1', 'r4h2', 'r4h3', 'r4m1','r4m2','r4m3', 'r4t1','r4t2',
              'r4t3', 'v18q1', 'tamhog','tamviv','hhsize','hogar_nin',
              'hogar_adul','hogar_mayor','hogar_total',  'bedrooms', 'qmobilephone']

hh_cont = ['v2a1', 'dependency', 'edjefe', 'edjefa', 'meaneduc', 'overcrowding']

In [0]:
sqr_ = ['SQBescolari', 'SQBage', 'SQBhogar_total', 'SQBedjefe',
        'SQBhogar_nin', 'SQBovercrowding', 'SQBdependency', 'SQBmeaned', 'agesq']

In [40]:
x = ind_bool + ind_ordered + id_ + hh_bool + hh_ordered + hh_cont + sqr_
print('There are no repeats: ', np.all(np.array(list(Counter(x).values())) == 1)) 
print('We covered every variable: ', len(x) == data.shape[1])

There are no repeats:  True
We covered every variable:  True

In [41]:
norm_fi = plot_feature_importances(feature_importances, threshold=0.95)

NameError: ignored